.main-header{
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 3px 1px 0 rgba(0,0,0,.1);
}
.main-header .main-logo{
  margin-left: 25px;
}
.main-header .main-logo > img{
  width: 55px;
}
.main-nav ul{
  list-style: none;
  color: #39454b;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  margin-right: 25px;
  font-size: 14px;
}
.main-nav ul li{
  margin-left: 15px;
}
.main-nav ul a{
  text-decoration: none;
  color: inherit;
}
.main-nav ul a:hover{
  text-decoration: underline;
}
